*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 0 30px;
    margin: 0 auto;
}

svg{
    width: 15px;
    height: 15px;
}
hr{
    margin: 30px 0;
}
button{
    cursor: pointer;
    border: 2px solid transparent;
    padding: 7px 18px;
    &:hover{
        border: 2px solid #b4b4b4;
    }
    &:disabled{
        border: 2px solid transparent;
        svg{
            opacity: .3;
        }
    }
}